<!-- <div *ngIf="emprendedorDetail" style="margin-bottom: 2rem;">
    <h3>{{emprendedorDetail.nombre}}</h3>
    <div>
        <div style="height: 300px; display: inline-block;">
            <img [src]="emprendedorDetail.foto_url" alt="{{ emprendedorDetail.nombre }}" style="width: 80%; ">
        </div>
        
        <div style="width: 50%; display: inline-block;">
            <p><strong>Pregrado: </strong> {{emprendedorDetail.pregrado}} </p>
            <p><strong>Genero: </strong> {{emprendedorDetail.genero}} </p>
            <p><strong>Emprendimientos: </strong></p>
            <ul>
                <li *ngFor="let emprendimiento of emprendedorDetail.emprendimientos">{{ emprendimiento }}</li>
            </ul>
        </div>
    </div>
</div> -->


<div class="container mt-4" *ngIf="emprendedorDetail">
    <div class="card p-4">
        <h2 class="card-title text-center">{{ emprendedorDetail.nombre }}</h2>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <img [src]="emprendedorDetail.foto_url" class="img-fluid rounded" [alt]="emprendedorDetail.nombre">

                <!-- <button class="btn btn-secondary mt-3" [routerLink]="['/emprendedores']">
                    Regresar al listado
                </button> -->
            </div>

            <div class="col-md-8">

                <div class="row mb-3">
                    <div class="col">
                        <p><strong>Pregrado:</strong> {{ emprendedorDetail.pregrado }}</p>
                        <p><strong>Genero:</strong> {{ emprendedorDetail.genero }}</p>
                        <p> Emprendimientos: </p>
                        <ul>
                            <li *ngFor="let emprendimiento of emprendedorDetail.emprendimientos">{{ emprendimiento }}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>