<div class="container">
    <h1 class="mt-4">Jovenes Emprendedores Colombianos</h1>

    <div class = "row">
        @for (emprendedor of emprendedores; track emprendedor.id) {
            <div class = "col-md-4 mb-4">
                <div class="card h-100">
                    <img [src]="emprendedor.foto_url" alt="{{ emprendedor.nombre }}" style="width: auto; height: auto;">
                    <div class="card-body d-flex flex-column">
                        <ul>
                            <h5 class="card-title"> {{ emprendedor.nombre }}</h5>
                            <li> <STROng>Genero:</STROng> {{ emprendedor.genero}} </li>
                            <li> <STROng>Pregrado:</STROng> {{ emprendedor.pregrado}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
    <app-emprendedor-detail *ngIf="emprendedorSeleccionado" [emprendedor]="emprendedorSeleccionado"></app-emprendedor-detail>
</div>


<!-- <thead>
            <tr style="--bs-table-bg: #0ae98a; --bs-table-color: white;">
                <th scope="col">Nombre</th>
                <th scope="col">Foto</th>
                <th scope="col">Genero</th>
                <th scope="col">Pregrado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emprendedor of emprendedores" (click)="seleccionarEmprendedor(emprendedor)">
                <td>{{ emprendedor.nombre }}</td>
                <td><img [src]="emprendedor.foto_url" alt="{{ emprendedor.nombre }}" style="width: 50px; height: auto;"></td>
                <td>{{ emprendedor.genero }}</td>
                <td>{{ emprendedor.pregrado }}</td>
            </tr>
        </tbody> -->